<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index,follow">
    <meta name="description" content="Gruzservices is my personal portfolio website. This is where I can show all of my achievments and is the hub for all of my projects.">
    <link rel="shortcut icon" href="icon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/reset.css" type="text/css">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Home | Gruzservices</title>
</head>
<body>
    <header>
        <a href="#section1">Home</a>
        <a href="#about">About</a>
        <a href="#contact" id="contact-tag">Contact</a>
    </header>
    <main>
        <section id="section1">
            <h1>Gruzservices</h1>
            <div class="stuff">
                <h3>Projects</h3>
                <div class="stuffimade">
                    <a href="https://github.com/Stephen10121/JavascriptGoogleDrive" target="_blank">
                        <p>Storage(Not Hosted)</p>
                        <div class="hidden">A google drive knockoff made using React and Express.</div>
                    </a>
                    <a href="https://auth.gruzservices.com" target="_blank">
                        <p>Authentication</p>
                        <div class="hidden">The one stop authenticator for all my apps. Written in Svelte, TypeScript, Sqlite and TypeORM.</div>
                    </a>
                    <a href="https://small.gruzservices.com" target="_blank">
                        <p>Small</p>
                        <div class="hidden">Projects that are too small for its own subdomain.</div>
                    </a>
                    <a href="https://files.gruzservices.com" target="_blank">
                        <p>Storage V2</p>
                        <div class="hidden">
                            Currently under development. Uses Svelte instead of React for speed.
                        </div>
                    </a>
                </div>
            </div>
        </section>
        <section id="about">
            <div class="about-img-part">
                <img src="/info.svg" alt="Info Icon">
            </div>
            <div class="about-text-part">
                <div class="about-text-part-box">
                    <h3>About Me</h3>
                    <p>
                        Hi. I'm Stephen. I currently in 12th grade and want to become a software developer. This website is the hub of all my projects. This is where I can display my skills as both a frontend and backend developer. I have a <span><a href="https://github.com/Stephen10121" target="_blank">Github Account</a></span> that holds most of the code for my projects. If you want to contact me, <span><a href="#contact">click here.</a></span>
                    </p>
                </div>
                <div class="extra">
                    <h3>What I use</h3>
                    <ul>
                        <li>Python</li>
                        <li>Javascript</li>
                        <li>TypeScript</li>
                        <li>C/Arduino</li>
                        <li>Express</li>
                        <li>Flask</li>
                        <li>Svelte</li>
                        <li>React</li>
                        <li>Vue</li>
                        <li>Pure Css</li>
                        <li>Html</li>
                        <li>Kotlin</li>
                        <li>Socket.io</li>
                        <li>Cloudflare</li>
                        <li>Nodejs</li>
                        <li>Raspberry Pi</li>
                        <li>Linux</li>
                        <li>TypeORM</li>
                        <li>Apollo</li>
                        <li>Sqlite</li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="contact">
            <div class="contact-text-part">
                <h3>Contact Me</h3>
                <form id="sendForm">
                    <input type="email" placeholder="Email" required>
                    <textarea cols="30" rows="10" placeholder="What" required></textarea>
                    <button type="submit">Send</button>
                </form>
            </div>
            <div class="contact-img-part">
                <img src="contact.svg" alt="phone img">
            </div>
        </section>
        <section id="ending">
            <a href="#section1">Top</a>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
        </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity=
        "sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
        crossorigin="anonymous">
    </script>
    <script>
        const sendMessage = (e) => {
            e.preventDefault();
            const data = {
                email: e.target[0].value,
                what: e.target[1].value
            }
            $.post("/contact", data, (data, status) => {
                if (status === "success") {
                    alert(data.msg);
                } else {
                    alert("Error sending message");
                }
            });
        }

        document.querySelector("#sendForm").addEventListener("submit", (e) => sendMessage(e));
    </script>
</body>
</html>
