<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="icon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/reset.css" type="text/css">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Home | Gruzservices</title>
</head>
<body>
    <header>
        <a href="#section1">Home</a>
        <a href="#about">About</a>
        <a href="#contact" id="contact-tag">Contact</a>
    </header>
    <main>
        <section id="section1">
            <h1>Gruzservices</h1>
            <div class="stuff">
                <h3>Projects</h3>
                <div class="stuffimade">
                    <a href="https://drive.gruzservices.com" target="_blank">Storage</a>
                    <a href="https://auth.gruzservices.com" target="_blank">Authentication</a>
                    <a href="https://small.gruzservices.com" target="_blank">Small</a>
                </div>
            </div>
        </section>
        <section id="about">
            <div class="about-img-part">
                <img src="/info.svg" alt="Info Icon">
            </div>
            <div class="about-text-part">
                <div class="about-text-part-box">
                    <h3>About Me</h3>
                    <p>
                        Hi. I'm Stephen. I currently in 12th grade and want to become a software developer. This website is the hub of all my projects. This is where I can display my skills as both a frontend and backend developer. I have a <span><a href="https://github.com/Stephen10121" target="_blank">Github Account</a></span> that holds most of the code for my projects. If you want to contact me, <span><a href="#contact">click here.</a></span>
                    </p>
                </div>
            </div>
        </section>
        <section id="contact">
            <div class="contact-text-part">
                <h3>Contact Me</h3>
                <form>
                    <input type="email" placeholder="Email">
                    <textarea cols="30" rows="10" placeholder="What"></textarea>
                    <button type="submit">Send</button>
                </form>
            </div>
            <div class="contact-img-part">
                <img src="contact.svg" alt="phone img">
            </div>
        </section>
        <section id="ending">
            <a href="#section1">Top</a>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
        </section>
    </main>
</body>
</html>